<center>
<%= form_with(model: intervention, local: true) do |f| %>

  <div id="customer_select_div">
    <%= f.label :customer_select, "Select Customer"%>
    <%= f.select(:customer_select, [["--Select--",0]] + Customer.order(:fullName).map{|c| [c.fullName, c.id]}) %>
  </div>
  <br>
  
  <div id="building_select_div">
    <h3>Building</h3>
    <select id="building_select">
    </select>
  </div>
  
  <br>
  
  <div id="batterie_select_div">
    <h3>Batterie</h3>
    <select id="batterie_select">
    </select>
    </div>
  
  <br>
  
  <div id="column_select_div">
    <h3>Batterie</h3>
    <select id="column_select">
    </select>
    </div>

  <br>

  <div id="batterie_select_div">
    <h3>Batterie</h3>
    <select id="elevator_select">
    </select>
    </div>

  <br><br>
  
  <%= f.label "Employee" %>
  <%= f.collection_select :employee_select, Employee.order(:id), :title, :firstNname %>

  <br>

  <div class="field">
  <%= f.label :description %>
  <%= f.text_area :description %>

  <div class="actions">
    <%= f.submit %>
  </div>
<center>
<% end %>
